EXAMPLE 0:
{
   "Metrics": ["jaccardblack.py", "pairnonblack.py"],
   "Implementations": ["dilate.py", "blah.py"],
   "Files": [("Data/0005","Data/0005_gt.json")]
}

EXAMPLE 1:
{
   "Metrics": ["jaccardblack.py", "pairnonblack.py"],
   "Implementations": ["dilate.py", "blah.py"],
   "Files": ["Data/0005"]
}
