{
   "Metrics": ["EvalOneToMany.py"],
   "Implementations": ["VerticalDominance.py", "VerticalDominanceNew.py", "VerticalDominance1.py", "VerticalDominance1New.py", "VerticalDominance2.py", "VerticalDominance2New.py", "textblocksBS.py", "textblocksBSNew.py", "ImgSeg.py"],
   "Files": ["../../images"],
   "Output": ["../../output/segment", "../../output/eval"]
}
